 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
 }

 /* Shared style */
 .font-open-sans {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
 }

 .logo h2 {
      font-size: 45px;
      font-weight: 900;
 }

 .color-orange {
      color: #FD6D0A;
 }

 .btn {
      background-color: #FD6D0A;
      border: none;
      padding: 18px 35px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      cursor: pointer;
 }

 .Section-heading {
      max-width: 827px;
      text-align: center;
      margin: 0 auto;
 }

 .Section-heading h2 {
      font-size: 35px;
      margin-bottom: 30px;
 }

 .Section-heading p {
      font-size: 18px;
      margin-bottom: 30px;
      line-height: 30px;
      color: #757575;
      ;
 }











 /* Main style */
 /* Heading section */

 header {
      background-color: #FFF8F3;
      background: url(../images/developer.png), url(../images/header_bg.png) #FFF8F3;
      background-repeat: no-repeat;
      background-position: top left, bottom right;
      padding-top: 50px;
 }

 nav {
      width: 71%;
      max-width: 1140px;
      /* border: 2px solid; */
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
 }

 nav .manu {
      display: flex;
      list-style: none;
      gap: 51px;
      align-items: center;
 }


 nav .manu a {
      font: size 20px;
      color: #474747;
      text-decoration: none;
 }

 /*  Banner */

 #Banner {
      /* border: 1px solid; */
      margin-top: 47px;
      margin: 47px 38px 0 230px;
      display: flex;
      justify-content: space-between;
      align-items: center;
 }

 #Banner .Banner-content {
      max-width: 585px;
 }


 #Banner .Banner-content h2 {
      font-size: 45px;
      font-weight: 600;
      color: #474747;
      margin-bottom: 5px;
 }


 #Banner .Banner-content h1 {
      font-size: 85px;
      font-weight: bold;
      color: #181818;
      margin-bottom: 20px;
 }


 #Banner .Banner-content p {
      font-size: 18px;
      color: #757575;
      line-height: 30px;
      margin-bottom: 30px;
 }


 #Banner .Banner-image {
      max-width: 585px;
      vertical-align: middle;
 }

 /* About section */


 #abbout,#skills,#resume {
      padding-top: 130px;
 }



 #abbout .abbout-container {
      width: 71%;
      max-width: 1140px;
      margin: 0 auto;
      text-align: center;
      background-color: #FFF8F3;
      padding: 131px 156px;
 }


 #abbout .abbout-container .abbout-info {
      display: flex;
      justify-content: space-around;
 }

 .abbout-info .Info-card p {
      font-size: 20px;
      line-height: 30px;
      color: #757575;
 }

 .abbout-info .Info-card h4{
     font-size: 20px;
 }

/* Skill Cart */




#skills .skills-Container{
     width: 71%;
     max-width: 1140px;
     margin: 0 auto;
}
#skills .skills-Container .skill-box{
    display: flex;
    gap: 24px;
}


.skill-box .skill-card{
padding: 30px;
/* border: 1px solid; */
box-shadow:0 6px 50px 0 #00000027 ;
max-width: 267px;
}


.skill-card img{
     max-width: 44px;
     margin-bottom: 30px;
}


.skill-card h3{
     font-size: 20px;
     color: #181818;
     margin-bottom: 20px;
}

.skill-card p{
     font-size: 16px;
     color: #757575;
     line-height: 28px;
}

/* Resume section */

#resume .resume-container{
width: 71%;
max-width: 1140px;
margin: 113px auto 0;
display: flex;
gap: 24px;
}

 .resume-container hr {
    margin: 30px 0; 
 }


.resume-container .section-title{
     font-size: 30px;
     color: #474747;
     margin-bottom: 30px;
}

.resume-card{
     max-width: 511px;
     margin-right: 47px;
}


.resume-card .card-title{
   font-size: 25px;  
   font-weight: bold;
   margin-bottom: 10px;
   color: #474747;
}


.resume-card .card-info {
   font-size: 20px;  
   font-weight:600;
   margin-bottom: 20px;
   color: #757575;
}


.resume-card .card-info {
   font-size: 16px;  
   line-height: 28px;
   color: #757575;
}







































