 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
 }

 /* Shared style */
 .font-open-sans {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
 }

.logo h2 {
font-size: 45px;
font-weight: 900;
}

.color-orange {
     color: #FD6D0A;
}

.btn{
     background-color: #FD6D0A;
     border: none;
     padding: 18px 35px;
     border-radius: 5px;
     font-size: 20px;
     font-weight: bold;
     color:white;
}












 /* Main style */
/* Heading section */

 header {
      background-color: #FFF8F3;
      padding-top: 50px;
 }

 nav {
      width: 71%;
      max-width: 1140px;
      /* border: 2px solid; */
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
 }
 nav .manu{
     display: flex;
     list-style: none;
     gap: 51px;
     align-items: center;
 }


 nav .manu a{
     font: size 20px;
     color: #474747;
     text-decoration: none;
 }

/* Banner section */


























